<h1>Danganronpa Online</h1>

<div *ngIf="!gameID.length">

	
	<mat-form-field class="name-form">
		<mat-label>Enter name</mat-label>
		<input matInput placeholder="ex. Bongo" [(ngModel)]="name" >
	</mat-form-field>

	<button mat-raised-button color="primary" (click)='createGame()' [disabled]='!name.length'>Create Game</button>

	<mat-form-field class="code-form">
		<mat-label>Enter game code</mat-label>
		<input matInput placeholder="ex. ABCD" [(ngModel)]="enteredID">
	</mat-form-field>
	<button mat-raised-button color="primary" (click)='joinGame()' [disabled]='!name.length || !enteredID.length'>Join Game</button>

	
</div>

{{name}}


<div *ngIf="gameID.length">
	<h2>Game Code: {{gameID}}</h2>
</div>