<h1>Danganronpa Online</h1>

<div *ngIf="!gameID.length">

	
	<mat-form-field class="name-form">
		<mat-label>Enter display name</mat-label>
		<input matInput placeholder="ex. Bongo" [(ngModel)]="name" >
	</mat-form-field>

	<button mat-raised-button color="primary" (click)='createGame()' [disabled]='!name.length'>Create Game</button>

	<mat-form-field class="code-form">
		<mat-label>Enter game code</mat-label>
		<input matInput placeholder="ex. ABCD" [(ngModel)]="enteredID" style="text-transform:uppercase"
			maxlength="4" onkeypress="return /[a-z]/i.test(event.key)" (keyup.enter)="joinGame()">
	</mat-form-field>
	<button mat-raised-button color="primary" [disabled]='!name.length || !enteredID.length'
		(click)='joinGame()'>Join Game</button>

	
</div>

{{name}}


<div *ngIf="gameID.length">
	<h2>Game Code: {{gameID}}</h2>

	<div class="grid-container">
		<div class="game">Game</div>
		<div class="players">	
			<h2>Players:</h2>
			<div class="playerlist">
				<div *ngFor="let player of player$" class="playerlabel">
					{{player.name}}
				</div>
			</div>
		</div>
		<div class="chat">
			<h2>Chat</h2>
			<div class="chatbox">
				<div *ngFor="let message of message$">
					{{message.message}}
				</div>
			</div>
			<mat-form-field class="message">
				<input matInput placeholder="Send a message" [(ngModel)]="message" (keyup.enter)="sendMessage()">
			</mat-form-field>
		</div>  
		<div class="stats">
			<img class="icon" src="https://i.pinimg.com/originals/76/64/8f/76648fd4b5da881f5326c1af5ae62e32.png">
			<div>
				💪 10/20
			</div>
		</div>
	</div>
</div>